<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<title>Burgers</title>
</head>

<body>
	<img src="/public/assets/images/bob.jpg" width="400px" id="bob">

	{{{ body }}}

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/public/assets/js/burgers.js"></script>
</body>
</html>